* {
	box-sizing: border-box;
}

html,
body,
.container-fluid,
.row {
	height: 100%;
	margin: 0px;
	padding: 0px;
	/*	background-color: #dde66e;*/
}

#grid-area {
	/*	background-color: #69a9ea;*/
	height: 100%;
	width: 100%;
	padding: 0px;
	overflow: hidden;
}

#grid {
	height: inherit;
}


#options {
	background-color: var(--dark-blue);
}


[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
	width: auto;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 4px;
	padding-top: 5px;
	width: 28%;
	height: 10%;
	font-size: 70%;
	line-height: 150%;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 0.35rem;
	margin-right: 0.35rem;
	margin-top: 0.5rem;
	text-align: center;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--yellow);
	-webkit-transition: all 100ms linear;
	transition: all 100ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}


#tools-head{
	color: white;
	text-align: center;
	margin-top: 1rem;
	width: 100%;
}

#start:checked + label{
	background-color: green;
	color: black;
}

#end:checked + label{
	background-color: red;
	color: black;
}

#wall1:checked + label{
	background-color: black;
	color: white;
}

#wall2:checked + label{
	background-color: var(--grey);
	color: black;
}

#A-star:checked + label,
#IDA:checked + label,
#BreadthFS:checked + label,
#BestFS:checked + label,
#Ortho:checked + label,
#trace:checked + label,
#Dijkstra:checked + label,
#JumpPoint:checked + label{
	background-color: var(--yellow);
	color: var(--dark-light);
}

/* .checkbox-tools:checked + label{
	background-color: var(--white);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */
.checkbox-tools:not(:checked) + label:hover{
	-webkit-transform: scale(1.1);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	border-radius: 4px;
	background-color: var(--dark-light);
	/* background-image: linear-gradient(298deg, var(--red), var(--yellow)); */
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #aeafb6;
}

.btn{
	/* margin-top: -2.9em; */
	border: solid 1px var(--dark-light);
	height: 10%;
	width: 28%;
	margin-left: 0.35rem;
	margin-right: 0.35rem;
	justify-content: center;
	background: var(--dark-light);
	transition: all .5 ease;
	font-size: 70%;
	line-height: 135%;
	letter-spacing: 1px;
	color: var(--yellow);
	outline: none;
}

.btn:hover {
	background-color: var(--light);
	border: var(--light);
}

*:focus{
	outline: var(--dark-light);
}

.design-tools {
	/* border: solid 1px var(--white); */
	padding: 2px;
}

.checkbox-tools-algo:checked + label,
.checkbox-tools-algo:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 4px;
	padding-top: 5px;
	width: 28%;
	height: 10%;
	font-size: 70%;
	line-height: 150%;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 0.35rem;
	margin-right: 0.35rem;
	margin-top: 0.5rem;
	text-align: center;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--yellow);
	-webkit-transition: all 100ms linear;
	transition: all 100ms linear; 
}
.checkbox-tools-algo:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools-algo:not(:checked) + label:hover{
	-webkit-transform: scale(1.3);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools-algo:checked + label::before,
.checkbox-tools-algo:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	border-radius: 4px;
	background-color: var(--dark-light);
	/* background-image: linear-gradient(298deg, var(--red), var(--yellow)); */
	z-index: -1;
}
.checkbox-tools-algo:checked + label .uil,
.checkbox-tools-algo:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}
